html,body {
	margin:0;
	body:0;
}

body {
	font: 15px Helvetica, sans-serif;
	line-height:1.5;
}

/*
body a[href*="#"] {
	float:left;
	padding:10px;
}
*/

p[style*="margin-left:"] {
	margin-left:10px !important;
}

p[style*="margin-left:2"] {
	margin-left:20px !important;
}

p[style*="margin-left:1"] {
	margin-left:15px !important;
}

td:empty {
	width:0px !important;
	display:none;
}

hr {
	display:none;
}