<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActionScript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CSS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EncryptTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Kohana.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MooTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PHP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PyHelp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Python.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>272172D30BDE2BFF00ECBC6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2725A8850F11953700B3BE06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2725A91A0F1198C800B3BE06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>274466D10F0D4AAE0059E529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>279608A00FD9875C00FB72BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27B7555A0FE7F48E00A67786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27BBFFD7137468A00050FBD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
